@model ApplicationCore.Models.SubmissionResponseModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>You have succesfully apply to the job!</title>
</head>
<body>
<div>
      
</div>
</body>
</html>